<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                document.querySelector('.alert').remove();
            }, 3000);
        });

    </script>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='bookshelf.svg') }}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Library
        </a>
        <span class="navbar-text mr-auto">
            <img src="{{ url_for('static', filename='person-circle.svg') }}" width="30" height="30" alt="">
            {{ session["username"] }}
        </span>
        <a class="btn btn-outline-info mr-auto" href="{{ url_for('books_search') }}" role="button">Book search</a>

        {% if session["username"] %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('user_logout') }}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="{{ url_for('user_login') }}" role="button">Login</a>
        {% endif %}
    </nav>

    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category,message in messages %}
    {% if category=='success' %}
    <div class="alert alert-success alert-dismissible">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% elif category=='warning' %}
    <div class="alert alert-warning alert-dismissible">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong></strong>{{ message }}
    </div>
    {% elif category=='danger' %}
    <div class="alert alert-danger alert-dismissible">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

<style>
    .m_center {
        position: absolute;
        right: 45%;
    }
</style>
</body>

</html>